@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.glass{
/* background: rgba(255, 255, 255, 0.813); */
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.298);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 10px solid rgba(255, 255, 255, 0.591);
margin-bottom: 50px;
}